<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Iscas consumidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-horizontal>
  <ion-list>

    <ion-item *ngFor="let item of numbers; let i = index;">

      <ion-label>{{moduloSelecionado?.nome !== undefined ? moduloSelecionado?.nome : moduloSelecionado?.modulo}}</ion-label>
      <ion-toggle color="success" id="toggle{{i}}" (ionChange)="contar($event, i)"></ion-toggle>

    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar id="footer">
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="gravar()">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>