<ion-header>
  <ion-toolbar>
    <ion-title>Seleção da equipe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fechar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form [formGroup]="formInfoIniciais">

      <ion-item margin-top>
        <ion-label position="floating">Técnico responsável</ion-label>
        <ionic-selectable [items]="tecnicos" itemValueField="id" itemTextField="nome" [canSearch]="true"
          formControlName="responsavel" closeButtonText="Cancelar" searchFailText="'Nenhum nome encontrado'"
          searchPlaceholder="Buscar nome" (onChange)="filterByResponsavel($event)"
          [hasVirtualScroll]="true"></ionic-selectable>
      </ion-item>

      <ion-item *ngIf="formInfoIniciais.get('responsavel').valid" margin-top>
        <ion-label position="floating">Auxiliares</ion-label>
        <ionic-selectable [items]="tecnicosMinus" itemValueField="id" itemTextField="nome" [canSearch]="true"
          [isMultiple]="true" formControlName="equipe" closeButtonText="Cancelar"
          searchFailText="'Nenhum nome encontrado'" searchPlaceholder="Buscar nome" [hasVirtualScroll]="true"
          (onChange)="setarEquipe($event)">
        </ionic-selectable>
      </ion-item>
    </form>
  </ion-list>

</ion-content>

<ion-footer *ngIf="formInfoIniciais.get('responsavel').valid">
  <ion-toolbar id="footer">
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="avancarFunc()" [disabled]="liberarAvancar">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>